.add-new
  width: 100%
  text-align: left
  padding-left: 70px
  padding-bottom: 15px

.contact
  margin: 40px auto

.email-column
  width: 250px


.edit-column, .delete-column 
  width: 100px


.table button 
  width: 100%

.first-name, .last-name
  width: 150px  

.index
  width: 35px  


